body {
  padding: 0px !important;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  text-align: center;
}

main {
  line-height: 1.5em;
 }

h1, h2 {
  font-weight: 700;
}

a:hover {
  font-weight:bold;
}

h2, h3 {
  letter-spacing: 0.05em;
 }

nav ul li {
    display: inline-block;
  }

#homeimg {
  height: 200px;
  width: auto;
}

header {
  background-color: #277BDB;
  color: #fff;
}

header, section {
  padding: 5% 5% 0px 5%;
}

.whitelink {
  color: #fff;
}

.active {
  color: #277BDB;
  background-color: #fff;
  border-radius: 5px 5px 0px 0px;
}

.nounderline {
  text-decoration: none;
  padding: 10px 10px 0px 10px;
}

